/* input common */
.input {
    border: 1px solid #f76b8a;
    border-radius: 5px;
    cursor: pointer;
}

/* input-size */
.input-full {
    width: calc(100% - 8px);
    height: 38px;
}
.input-middle {
    width: calc(75% - 8px);
    height: 38px;
}
.input-half {
    width: calc(50% - 8px);
    height: 38px;
}

.input-small {
    width: calc(35% - 8px);
    height: 38px;
}
