/* input common */
.input {
    border: 1px solid #f76b8a;
    border-radius: 5px;
    cursor: pointer;
}

/* input-size */
.input-full {
    width: 100%;
    height: 38px;
}
.input-middle {
    width: 75%;
    height: 38px;
}
.input-half {
    width: 50%;
    height: 38px;
}
