/**
 * @filename    : register.css
 * @author      : 전찬민
 * @description : 회원가입 페이지 css
 */

/** 컨테이너 정렬 */
.register {
    text-align: center;
    margin: 60px 0;
}

/** 각 div별 margin */
.register-name,
.register-email,
.register-pass,
.register-passsucces,
.register-button {
    width: 450px;
    margin: auto;
    margin-bottom: 30px;
}
/** 텍스트와 input태그 margin */
.register-name > p,
.register-email > p,
.register-pass > p,
.register-passsucces > p {
    margin-bottom: 5px;
}
/** button색깔 */
.button-register {
    background-color: var(--primary);
    margin-top: 30px;
}
/* button 안 글자 색 */
.button-register > a {
    color: var(--white);
}
/* input::placeholde - padding */
/* Chrome, Firefox, Opera, Safari 구버젼*/
input::placeholder {
    padding: 0 10px;
    color: var(--gray300);
}
/* Chrome */
input::-webkit-input-placeholder {
    padding: 0 10px;
    color: var(--gray300);
}
/* IE */
input:-ms-input-placeholder {
    padding: 0 10px;
    color: var(--gray300);
}
/* Firefox */
input:-mos-input-placeholder {
    padding: 0 10px;
    color: var(--gray300);
}
