
/* 상품 정보란 */
.prod-info-container {
    border: 1px solid var(--gray300);
    padding: 30px 0 30px 0;
}

.prod-info-inner {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.prod-info {
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prod-img img{
    width: 200px;
    margin-top: 20px;
}

/* 정보 속 별점 관련 */
.star-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star-avg {
    margin: 10px 0 10px 0;
}

.star-avg p{
    display: inline;
}

.review-count {
    color: var(--gray300);
}

.material-icons-outlined {
    color: var(--yellow);
}

/* 후기 내용 작성칸*/
.write-container {
    display: flex;
    justify-content: space-between;
}

.write-box {
    border: 1px solid var(--gray300);
    border-radius: 5px;
    width: 900px;
    margin: 50px 0 50px 0;
    padding: 40px 0 40px 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.write-text {
    border: 0;
    width: 800px;
    height: 120px;
    margin-top: -35px;
}

input::placeholder {
    color: var(--gray400);
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 10px 0 0 50px;
}

input:focus {outline:none;}

.add_pic img{
    width: 40px;
    margin-right: 40px;
}

/* 별점 관련 */
#star-form fieldset{
    display: inline-block; 
    border: 0; 
}

#star-form input[type=radio]{
    display: none; 
}

#star-form label{
    color: transparent; 
    text-shadow: 0 0 0 #f0f0f0; 
}

#star-form label:hover{
    text-shadow: 0 0 0 var(--yellow); 
}

#star-form label:hover ~ label{
    text-shadow: 0 0 0 var(--yellow); 
}

#star-form fieldset{
    display: inline-block;
    direction: rtl; 
    border: 0; 
}

#star-form fieldset legend{
    text-align: left;
}

#star-form input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 var(--yellow);
}


/* 버튼 관련 */
.btn-container {
    margin: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star-btn {
    background-color:var(--white);
    border: 1px solid #f76b8a;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.submit-btn {
    background-color:var(--primary);
    color: var(--white);
    width: 200px;
    padding: 15px;
}

/* 후기 갯수 */
.review-container {
    margin-bottom: 70px;
}

.review-count-bar {
    border-bottom: 1px solid var(--gray300);
    padding-bottom: 15px;
}

.review-count-bar p {
    display: inline-block;
}

.review-count {
    color: var(--black);
}

.review-count-text {
    color: var(--gray400);
}